@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "NotoSansKR";
  src: url("../public/NotoSansKR.ttf");
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "NotoSansKR";
}

@layer base {
  #__next {
    display: contents;
  }
}
